@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none; }

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #2b2b2c; }

.slider {
  width: 100%;
  height: 520px;
  max-height: 100vh;
  max-width: 1140px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  position: relative;
  user-select: none; }

.slider-inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.slide {
  padding-left: 100%;
  background: #454545;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.slide-inner {
  padding: 15%; }

.img_cont {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 0; }
  .img_cont img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto; }

.arrow {
  position: absolute;
  top: 0;
  margin: auto;
  height: 100%;
  width: 20%;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #313335; }
  .arrow:hover:before {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: #8f9499; }

.arrow-prev {
  left: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 15px; }
  @media all and (min-width: 520px) {
    .arrow-prev:before {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      content: '◄';
      font-size: 36px; } }

.arrow-next {
  right: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 15px; }
  @media all and (min-width: 520px) {
    .arrow-next:before {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      content: '►';
      font-size: 36px; } }

.slide-to-show--2 {
  padding-left: 50%; }

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001; }

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear; }

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out; }

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s; }

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0; }

.loaded .preloader {
  display: none; }

/*# sourceMappingURL=main.css.map */
